@import "tailwindcss";

:root {
  --background: rgba(224, 224, 17, 0.993);
  --foreground: #171717;
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

button{
  background: whitesmoke;
   color: black;
  border-radius: 20px;
  cursor: pointer;
  border: 2px solid rgb(43, 41, 41);
  padding: 8px 15px;
  font-size: 14px;
}

input{
  padding: 15px;
  border-radius: 0px;
  border: 2px solid rgb(43, 41, 41);
  background-color: whitesmoke;
  width: 20rem;
  font-size: 16px;
}

.notes-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-start;
}

.note {
  display: flex;
  align-items: center;
  justify-content: space-between;   
  padding: 8px 12px;
  border-radius: 5px;
  border: 2px solid black;
  background: white;            
  max-width: 400px;
  gap: 12px;
}

.note span {
  word-break: break-word;
}

.note.done span {
  text-decoration: line-through;
  color: gray;
}

.checkbox {
  cursor: pointer;
  max-width: 10px;
}
